*{
	padding:0px;
	margin:0px;
}
body{
	background-color:#f2f2f3;
	font-family: 'Roboto';
	font-style: 'Light';
	font-style: normal;

	
}
#entet{
	
	height: 130px; 
	width: 1024px;
	margin: 0px auto 0px auto;
}
#entet-col{
	width: 100%;
	background-image: url('../image/background2.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 141px;
	


}
#wrapper{
	margin: 2px auto 0px auto;
	box-sizing: border-box;
	height: 710px;
	width: 1024px;
	
}
#nenu{
	height: 25px;
		padding-top: 2px;

}
#menu-lien{
	list-style: none;
	margin-left: 700px;

}
#menu-lien li{
	float: left;
	margin-left:20px; 
}
#menu-lien li a{
text-decoration:none;
color: #fff;
text-transform: uppercase;
}
#logo-big{
	width:120px ;
	height: 70px;
	margin-top: 25px;

	
}
#div-rech{
	width: 65%;
	margin-left: 100px;
	height: 50px;
	margin-top: 22px;
   

}
#cont-input-div{

	width: 651px;
	height:41px;
	border-radius:5px;
	padding: 2px;
	background-color: #fff;
}
#cont-input-div img{
	width: 38px;
	height: 38px;
	float: right;
	border-radius: 0px 6px 6px 0px;
}
#cadi{
	/*background-color: #fff;*/
	float: right;
	width:42px; 
	height: 42px;
	margin-top: 23px;
	
	background-color:#ffca5f;
}
#cadi img{
	width: 41px;
	height: 41px;

}
.ban{
	float: left;
}
#logo-big img{
	width:200px ;
	height: 40px;	
}
#recherche{
	width: 609px;
	height:100%;
	border: none;
	border-radius: 3px;
	padding-left: 17px;

	
}


#cont-lien{

	height: 50px;
	width: 100%;
	margin-top: 10px;
}
#lien-2{
	list-style:none;
}
#lien-2 li{
	float: left;
	padding-left: 0px;
	margin-left: 70px;
	border-radius: 7px; 
	width: 170px;
	height: 30px; 
	
	overflow: hidden;
}
#lien-2 li img{
	width: 100%;
	height: 100%;
	border-radius: 6px 0px 0px 6px;
	
}

.prod-pop{
	width: 200px;
	height: 200px;
	float: left;
	margin: 2px; 
	
}


#prod-pop {
	width: 100%;
	height: 320px;
}
#prod-pop img:hover{
	border: solid red 2px;
}

#prod-pop img{
	width: 99%;
	height: 320px;
}
.td{
	width: 600px;


}
.td .td-1{
	
	padding-left: 15px;
}
.td .td-2{
	text-align:right;
	padding-right: 15px;
}
.td #td-3{
	text-align: right;
	padding-right: 300px;
}
footer{
	width: 100%;
	height: 324px;


}
#cont-foot-1{
	/*background-image: url('../image/background.png');*/
	background-repeat: no-repeat;
	background-color: #1f242d;
	background-attachment: fixed;
	height: 180px;
	width: 100%;


}
#cont-foot-2{
	background-color:#fff;
	width: 100%;
	height: 130px;
	padding-top: 10px;
}
.cont-foot-text{
	height: 143px;
	width: 330px;
	text-transform: capitalize;
	margin-left: 30%;
	padding-top: 35px;


}
.pied-1-txt{
	font-size: 25px;
	line-height: 40px;
	
}
.cont-foot-text a{
	line-height: 10px;
	text-decoration: none;
	color: #000;
}
.cont-foot-text ol li{
	list-style: none;
}
.cont-foot-text ol{
	margin-left: 20px;
}
#Offres{
	margin-left: -40px;
}
#mail{
	border-radius: 6px; 
	border-style: none;
	width: 267px;
	height: 35px;
	margin-left: -40px;
	padding-left: 20px;
}
#Me-s-inscrit{
	
	height: 60px;
	margin-top: 9px;
	padding-top: 23px;



}
#input{
    height: 43px;
    width: 173px; 
    margin-left: 10px; 
    background-size: cover;
    background-repeat: none;
    background-image: url('../image/inscrire.png');
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
}
#foot-f img{
	height:42px; 
}
#foot-f td{
	
	width: 100%;
}
.Meth-pay{
	margin-left:137px; 
	width: 300px;
}
.Rejo-no-fb{
	
	width: 150px;
	margin-left: 300px;
}
#big-deal{
	
	margin-left: 200px;
	width: 150px;
}
.Rejo-no-fb img{	
	margin-left: 18px;
}
#cont-foot-1 .cont-foot-text ol{
	color: #fff;
}
#cont-foot-1 .cont-foot-text a{
	color: #fff;
}
#Me-s-inscrit label{
		color: #fff;
}

#content{
	
	box-shadow: 2px 2px 2px 2px #888888;
	width: 1024px;
	margin: 0px auto 0px auto; 
}
